<div
  class="header flex flex-row h-16 md:h-24 justify-between items-center px-8 bg-white bg-opacity-30 backdrop-blur-md p-6  shadow-lg text-gray-900">
  <div class="text-4xl font-bold flex items-center gap-1"><img class="h-6" src="suisse.png"/>Bailo</div>
  <div class="flex flex-row items-center gap-4"
       appMenuTrigger
       [appMenuTriggerFor]="menu">
    @if (user?.picture) {
      <div class="h-10 w-10 rounded-full overflow-hidden flex justify-center items-center bg-gray-200">
        <img [src]="user?.picture" alt="User" class="h-full w-full object-cover"/>
      </div>
    } @else {
      <div class="h-10 w-10 bg-red-600 rounded-full flex justify-center items-center text-xl text-white font-semibold">
        {{ user?.given_name?.charAt(0) }} {{ user?.family_name?.charAt(0) }}
      </div>
    }
    <div class="font-semibold hidden md:block">{{ user?.given_name }} {{ user?.family_name }}</div>
  </div>

</div>

<!-- Menu attaché -->
<app-menu #menu="appMenu">
  <button appMenuItem>
    <lucide-icon [img]="UserIcon"></lucide-icon>
    Profil
  </button>
  <button appMenuItem (click)="logout()">
    <lucide-icon [img]="LogOutIcon"></lucide-icon>
    Déconnexion
  </button>
</app-menu>
