<div class="px-2 md:px-8 py-4 md:py-8">
  <div class="text-3xl font-bold mb-4 md:mb-8 text-gray-800 gap-2">Mes biens</div>
  <div class="flex flex-row flex-wrap gap-4">
    @if (loading) {
      @for (i of [1, 2, 3]; track i) {
        <div class="w-full md:w-80">
          <app-property-skeleton-card></app-property-skeleton-card>
        </div>
      }
    } @else {
      @for (property of properties; track property.id) {
        <div class="w-full md:w-80">
            <app-property-card [property]="property"></app-property-card>
        </div>

      }
      <div
        class="w-full md:w-80 bg-white bg-opacity-30 backdrop-blur-md rounded-2xl p-4 shadow-lg text-gray-800 cursor-pointer space-y-4 hover:bg-opacity-40 transition"
        [routerLink]="['/properties', 'new']">
        <div class="h-32 flex justify-center items-center">
          <lucide-icon [img]="PlusCircleIcon" class="w-12 h-12 text-red-500"></lucide-icon>
        </div>

        <h2 class="text-xl font-bold leading-tight">
          Nouveau bien
        </h2>

        <p class="text-sm text-gray-600">
          Ajouter ici votre bien immobilier à louer.
        </p>
      </div>
    }
  </div>
</div>
