<div class="">
  <label for="field" class="block text-sm/6 font-medium text-gray-900">{{ label }}
    @if (isRequired()){
      <span class="text-red-600">*</span>
    }

  </label>
  <div class="">
    <input  id="field"
            autocomplete="off"
            [type]="type"
            [value]="value"
            [placeholder]="placeholder"
            [disabled]="isDisabled"
            (input)="onInput($event)"
            (blur)="onBlur()"
           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-400 sm:text-sm/6"/>
  </div>
</div>
