<div class="px-2 md:px-48 py-4 md:py-8">
  @if (leases.length == 0) {
    <div class="text-3xl font-bold mb-4 md:mb-8 text-gray-800 gap-2">Bonjour Koussila</div>
    <div class="mt-8  bg-white rounded-lg shadow-sm pt-4 pb-8 flex flex-col items-center justify-center">
      <img class="h-64" alt="home" src="/illustrations/home.png">
      <div class="mt-2 text-2xl text-gray-600 font-bold mb-4">Vous n'avez pas de bien en location</div>
      <button type="button" class="mt-4 bg-red-400 text-white font-semibold p-4 rounded-xl cursor-pointer">Ajouter une
        location
      </button>
    </div>
  } @else {
    <div class="text-3xl font-bold mb-4 md:mb-8 text-gray-800 gap-2">Mes locations</div>
    <div class="flex flex-row flex-wrap gap-4">
      @for (lease of leases; track lease.id) {
        <div class="w-full md:w-80">
          <app-lease-card [lease]="lease"></app-lease-card>
        </div>

      }
      <div
        class="w-full md:w-80 bg-white bg-opacity-30 backdrop-blur-md rounded-2xl p-4 shadow-lg text-gray-800 cursor-pointer space-y-4 hover:bg-opacity-40 transition"
        [routerLink]="['/lease', 'new']">
        <div class="h-32 flex justify-center items-center">
          <lucide-icon [img]="PlusCircleIcon" class="w-12 h-12 text-red-500"></lucide-icon>
        </div>

        <h2 class="text-2xl font-bold leading-tight text-center">
          Nouveau bail
        </h2>

        <p class="text-sm text-gray-600 text-center">
          Créez un nouveau contrat de location
        </p>
      </div>
    </div>
  }
</div>
