<div>
  <label [for]="label" class="block text-sm/6 font-medium text-gray-900">
    {{ label }}
    @if (isRequired()) {
      <span class="text-red-600">*</span>
    }
  </label>
  <div class="relative">
    <select
      [id]="label"
      [(ngModel)]="value"
      (change)="onSelect($event)"
      (blur)="onBlur()"
      [disabled]="isDisabled"
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-400 sm:text-sm/6 appearance-none"
    >
      <option value="" disabled hidden>{{ placeholder }}</option>
      @for (option of options; track option.key) {
        <option [value]="option.key">{{ option.label }}</option>
      }
    </select>

    <!-- Icône flèche ▼ -->
    <svg class="pointer-events-none absolute right-2 top-1/2 -translate-y-1/2 size-5 text-gray-500 sm:size-4"
         viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd"
            d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"/>
    </svg>
  </div>
  @if (errorMessage){
    <div class="text-red-500 text-xs mt-1 ml-2.5">{{ errorMessage }}</div>
  }
</div>
